[Unit]
Description=MainSail Screen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/xinit /home/pi/klipper_config/mainsail.sh

[Install]
WantedBy=multi-user.target
