###########################################################################
# Happy Hare MMU hardware pin config
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# This contains aliases for pins for MCU type unknown
#
#[mcu mmu]
#serial: /dev/ttyACM1 # Config guess. Run ls -l /dev/serial/by-id and set manually	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment out this aliases definition and configure the pin names directly
# into mmu_hardware.cfg.
#
#[board_pins mmu]
#mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
#aliases:
#    MMU_GEAR_UART=,
#    MMU_GEAR_STEP=,
#    MMU_GEAR_DIR=,
#    MMU_GEAR_ENABLE=,
#    MMU_GEAR_DIAG=,
#    MMU_SEL_UART=,
#    MMU_SEL_STEP=,
#    MMU_SEL_DIR=,
#    MMU_SEL_ENABLE=,
#    MMU_SEL_DIAG=,
#    MMU_SEL_ENDSTOP=,
#    MMU_SERVO=,
#    MMU_ENCODER=,
#    MMU_GATE_SENSOR=,
#    MMU_NEOPIXEL=,
#    MMU_PRE_GATE_0=,
#    MMU_PRE_GATE_1=,
#    MMU_PRE_GATE_2=,
#    MMU_PRE_GATE_3=,
#    MMU_PRE_GATE_4=,
#    MMU_PRE_GATE_5=,
#    MMU_PRE_GATE_6=,
#    MMU_PRE_GATE_7=,
#    MMU_PRE_GATE_8=,
#    MMU_PRE_GATE_9=,
#    MMU_PRE_GATE_10=,
#    MMU_PRE_GATE_11=,

